{% style %}
    .headerr {
    background-color: black;
    padding: 10px 20px;
    }

    .headerr-text{
        color: white;
        font-size: 50px;
    }
{% endstyle %}


<header class="headerr">
    <h1 class="headerr-text">Testing</h1>
</header>