<h3>{{ section.settings.heading }}</h3>
<p>{{ section.settings.description }}</p>
{% for block in section.blocks %}
  <img src={{ block.settings.image | image_url: '50x50' }} />
{% endfor %}

{% schema %}
  {
    "name": "Icon Text",
    "settings": [
      {
        "type": "text",
        "label": "section heading",
        "id": "heading"
      },
      {
        "type": "richtext",
        "label": "section description",
        "id": "description"
      }
    ],
   "blocks" : [
     {
       "type": "image",
       "name": "Image Block",
       "settings": [
         {
           "type": "image_picker",
           "label": "Add Image",
           "id": "image"
         }
       ]
     }
   ]
  }
{% endschema %}