<h3>{{ section.settings.heading }}</h3>
<p>{{ section.settings.description }}</p>
{% for block in section.blocks %}
  {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image_2.width,
        height: image_height_2,
        class: image_class_2,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image_2.alt | escape
      }}
{% endfor %}

{% schema %}
  {
    "name": "Icon Text",
    "settings": [
      {
        "type": "text",
        "label": "section heading",
        "id": "heading"
      },
      {
        "type": "richtext",
        "label": "section description",
        "id": "description"
      }
    ],
   "blocks" : [
     {
       "type": "image",
       "name": "Image Block",
       "settings": [
         {
           "type": "image_picker",
           "label": "Add Image",
           "id": "image"
         },
         {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        }
       ]
     }
   ]
  }
{% endschema %}