<div>
  <h2>{{ product.title }}</h2>
  <img src="{{ product.featured_image | image_url: '250px' | image_url }}" />
  {% if section.settings.show_reviews %}
    <h4>⭐⭐⭐⭐⭐</h4>
  {% endif %}
  <h3>{{ section.settings.tax_notice }}</h3>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "id":"tax_notice",
        "label":"tax notice",
        "type":"text"
      },
      {
        "id":"show_reviews",
        "label":"Show Reviews",
        "type":"checkbox"
      }
    ]
  }
{% endschema %}

