.icontext_container{
  width: 90%;
  margin: 0 auto;
}

.icontext_heading{
  color: {{ settings.colors_accent_1 }};
  text-align: center;
}

.icontext_image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
/*     margin-top: 3rem; */
}

/* @media screen and (max-width: 749px)
.icontext_image_container {
  flex: row;
} */