.icontext_container{
  width: 90%;
  margin: 0 auto;
}

.icontext_heading {
  color: {{ settings.colors_accent_1 }};
  text-align: center;
}

.icontext_description{
  color: {{ settings.colors_accent_1 }};
  text-align: center;
}

.icontext_image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (min-width: 800px) {
.icontext_image_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}