.icontext_container{
  width: 90%;
  margin: 0 auto;
}

.icontext_heading{
  color: {{ settings.colors_accent_1 }};
  text-align: center;
}

.icontext_image_container{
  display: flex;
  direction: row;
  
}